<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <title>
      Wargames
    </title>
    <style type="text/css">
      <%= compilation.assets["stylesheet.css"].source() %>
    </style>
  </head>
  <body data-mode="load">
    <svg viewBox="0 0 128 32">
      <rect
        x="0"
        y="0"
        width="128"
        height="32"
        fill="white"
      />
      <path
        d="M8,16 L120,16"
        stroke="lightskyblue"
        stroke-width="16"
        stroke-dasharray="128"
        stroke-dashoffset="128"
      />
    </svg>

    <script type="text/javascript">
      window.dependencies = {
        "images/day.jpg": <%= compilation.assets["images/day.jpg"].source().length %>,
        "images/night.jpg": <%= compilation.assets["images/night.jpg"].source().length %>,
        "images/space.jpg": <%= compilation.assets["images/space.jpg"].source().length %>,
        "missiles/000.json": <%= compilation.assets["missiles/000.json"].source().length %>,
        "vendor/three.js": <%= compilation.assets["vendor/three.js"].source().length %>,
        "vendor/OrbitControls.js": <%= compilation.assets["vendor/OrbitControls.js"].source().length %>,
        "src/wargames.js": <%= compilation.assets["src/wargames.js"].source().length %>,
      }
      document.addEventListener("DOMContentLoaded", async () => {
        ;<%= compilation.assets["src/menu.js"].source() %>
      })
    </script>
  </body>
</html>

